# What is a List?

A list is a collection of items in a particular order. You can make a list that
includes the letters of the alphabet, the digits from 0–9, or the names of
all the people in your family. You can put anything you want into a list, and the items in your list don’t have to be related in any particular way. Because
a list usually contains more than one element, it’s a good idea to make the
name of your list plural, such as letters, digits, or names.

In Python, square brackets ([]) indicate a list, and individual elements
in the list are separated by commas.

In [2]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

# Accessing Elements in a List

Lists are ordered collections, so you can access any element in a list by
telling Python the position, or index, of the item desired. To access an element
in a list, write the name of the list followed by the index of the item
enclosed in square brackets.

In [3]:
print(bicycles[0])

trek

In [4]:
print(bicycles[0].title())

Trek

# Index Positions Start at 0, Not 1

Python considers the first item in a list to be at position 0, not position 1.

In [6]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
bicycles

['trek', 'cannondale', 'redline', 'specialized']

In [7]:
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

Python has a special syntax for accessing the last element in a list. By asking
for the item at index -1, Python always returns the last item in the list:

In [8]:
print(bicycles[-1])

specialized

# Using Individual Values from a List

In [10]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
bicycles

['trek', 'cannondale', 'redline', 'specialized']

In [12]:
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

In [13]:
names = ['James', 'John', 'Emily', 'Eric']
names[0]

'James'

In [14]:
names[1]

'John'

In [15]:
names[2]

'Emily'

In [16]:
names[3]

'Eric'

In [20]:
message = "Hello"
message + " " + names[0]

'Hello James'

In [21]:
message + " " + names[1]

'Hello John'

In [22]:
message + " " + names[2]

'Hello Emily'

In [23]:
message + " " + names[3]

'Hello Eric'

In [24]:
cars = ['Honda', 'Hino', 'Lexus', 'Nissan']

In [25]:
cars

['Honda', 'Hino', 'Lexus', 'Nissan']

In [29]:
message = "I would lke to own a " + cars[2] + " car."
message

'I would lke to own a Lexus car.'

# Changing, Adding, and Removing Elements

In [30]:
cars = ['Honda', 'Hino', 'Lexus', 'Nissan']
print(cars)

['Honda', 'Hino', 'Lexus', 'Nissan']

Appending Elements to the End of a List

In [33]:
cars.append('Toyota')
print(cars)

['Honda', 'Hino', 'Lexus', 'Nissan', 'Toyota', 'Toyota']

# Inserting Elements into a List

Add a new element at any position in your list by using the insert()
method. You do this by specifying the index of the new element and the
value of the new item

In [34]:
cars.insert(0, 'Datsun')

In [35]:
cars

['Datsun', 'Honda', 'Hino', 'Lexus', 'Nissan', 'Toyota', 'Toyota']

# Removing an Item Using the del Statement

In [37]:
cars = ['Honda', 'Hino', 'Lexus', 'Nissan']
print(cars)

['Honda', 'Hino', 'Lexus', 'Nissan']

In [38]:
cars.insert(0, 'Datsun')
cars

['Datsun', 'Honda', 'Hino', 'Lexus', 'Nissan']

In [39]:
del cars[0]
print(cars)

['Honda', 'Hino', 'Lexus', 'Nissan']

# Removing an Item Using the pop() Method

For example, you might want to get the x and y position of an alien that
was just shot down, so you can draw an explosion at that position. In a web
application, you might want to remove a user from a list of active members
and then add that user to a list of inactive members.

The pop() method removes the last item in a list, but it lets you work
with that item after removing it. The term pop comes from thinking of a
list as a stack of items and popping one item off the top of the stack. In
this analogy, the top of a stack corresponds to the end of a list.

In [41]:
cars = ['Honda', 'Hino', 'Lexus', 'Nissan']
cars

['Honda', 'Hino', 'Lexus', 'Nissan']

In [43]:
popped_cars = cars.pop()
print(popped_cars)

Lexus

In [44]:
print(cars)

['Honda', 'Hino']

In [45]:
cars.insert(0, 'Datsun')

In [46]:
cars

['Datsun', 'Honda', 'Hino']

In [47]:
cars.insert(2, 'Nissan')

In [48]:
print(cars)

['Datsun', 'Honda', 'Nissan', 'Hino']

In [50]:
last_owned = cars.pop()
print("The last car I owned was a " + last_owned.title() + ".")

The last car I owned was a Nissan.

# Popping Items from any Position in a List

In [51]:
first_owned = cars.pop(0)
print('The first car I owned was a ' + first_owned.title() + '.')

The first car I owned was a Datsun.

use pop() to remove an item in a list at any position by
including the index of the item

# Removing an Item by Value

If you only know the value of the item you want to remove, you
can use the remove() method.

In [52]:
cars = ['Honda', 'Hino', 'Lexus', 'Nissan']
print(cars)

['Honda', 'Hino', 'Lexus', 'Nissan']

In [53]:
cars.remove('Nissan')
print(cars)

['Honda', 'Hino', 'Lexus']

In [54]:
too_expensive = "Hino"
cars.remove(too_expensive)
print(cars)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['Honda', 'Lexus']

A Hino is too expensive for me.

In [60]:
guest_name = ['Emily', 'John', 'Eric']
message = "Hello, " + guest_name[0] + " and " + guest_name[2] + ". I would liked to invite you for dinner"
print(message)

Hello, Emily and Eric. I would liked to invite you for dinner