For Loops

In [1]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [2]:
for n in even:
    print(n)

0
2
4
6
8
10
12
14
16
18
20

In [3]:
for n in even:
    print(n, end=" ")

0 2 4 6 8 10 12 14 16 18 20

While Loops

In [4]:
x = 0
while x <= 20:
    print(x, end = " ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [5]:
x = 0
while x <= 20:
    print(x, end = " ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

range() Function

In [6]:
range(10)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
range(3, 7)

range(3, 7)

In [9]:
list(range(3,7))

[3, 4, 5, 6]

In [10]:
range(1,20,2)

range(1, 20, 2)

In [11]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Combine Conditional Statements and Loops

In [12]:
for n in range(10):
    print(2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [13]:
2 ** 1

2

In [14]:
2 ** 2

4

In [15]:
2 ** 0

1

In [25]:
for x in range(20):
    if x % 2 == 0:
        print("Even - ", x, end = " ")
    else:
        print("Odd -", end = " ")

Even -  0 Odd - Even -  2 Odd - Even -  4 Odd - Even -  6 Odd - Even -  8 Odd - Even -  10 Odd - Even -  12 Odd - Even -  14 Odd - Even -  16 Odd - Even -  18 Odd -

In [17]:
x = [0,1,2]

In [18]:
for item in x:
    print(item, end = " ")

0 1 2

In [19]:
for item in range(len(x)):
    print(x[item], end = " ")

0 1 2

In [23]:
x = 2
y = x % 2
y

0

Conditional Statements, Functions and Loop

In [27]:
list_1 = [1,3,7,15,23,43,56,98,17]

In [28]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [29]:
count(list_1)

5

Literate over Dictionaries

In [32]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna" : 5,
    "hanbuger" : 2
}

quantity = {
    "box_of_spaghetti" : 6,
    "lasagna" : 10,
    "hanbuger" : 0
}

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i] * quantity[i])
    
print (money_spent)

74

# How much did Jan spend in the supermarket?

Price * quantity  
Box of spaghetti : 4 * 6 = 24  
Lasagna          : 5 * 10 = 50  
Hanburger        : 2 * 0 = 0  
Total spend      : 74